/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */
:root{
    --primary-color:#0E4BF1;
    --panel-color:#fff;
    --text-color:#000;
    --black-light-color:#707070;
    --border-color:#e6e5e5;
    --toggel-color:#DDD;
    --box1-color:#4DA3FF;
    --box2-color:#FFE6AC;
    --box3-color:#E7D1FC;
    --title-icon-color:#fff; 

    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
    --tran-03: all 0.2s ease;
}
/* main{
    width: 100%;
    height: 100vh;
}
 */
 body{
    min-height: 100vh;
    /* background-color: var(--primary-color); */
 }
body.dark{
    --primary-color:#3A3B3C;
    --panel-color:#242526;
    --text-color:#CCC;
    --black-light-color:#CCC;
    --border-color:#4D4C4C;
    --toggel-color:#FFF;
    --box1-color:#3A3B3C;
    --box2-color:#3A3B3C;
    --box3-color:#3A3B3C;
    --title-icon-color:#CCC;

    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
    --tran-03: all 0.2s ease;
}
 nav{
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 14px;
    height: 100%;
    width: 250px;
    background-color:rgb(43, 43, 50);
    border-right:  1px solid var(--border-color);
    transition: var(--tran-05);
 }
 nav.close{
    width: 44px;
 }
 nav .logo-name{
    display: flex;
    align-items: center;
}
nav .logo-image {
    display: flex;
    justify-content: center;
    min-width: 45px;
}
nav .logo-image img{
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
}
nav .logo-name .logo_name{
    margin-left: 14px;
    font-size: 22px;
    color: var(--text-color);
    font-weight: 600;
    transition: var(--tran-05);
}
nav.close .logo_name{
    opacity: 0;
    pointer-events: none;
}
nav .menu-items{
    margin-top: 20px;
    margin-right: 50px;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu-items li{
    list-style-type: none;
}
.menu-items li a{
    display: flex;
    height: 50px;
    align-items: center;
    text-decoration: none;
    position: relative;
    color: var(--black-light-color);
    gap: 15px;
}
.nav-links li a:hover:before{
    position: absolute;
    left: -7px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color:var(--border-color);
}
.menu-items li a i{
    min-width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    color:var(--black-light-color);
} 
.menu-items li a .link-name{
    color: var(--black-light-color);
    font-size: 18px;
    font-weight: 400;
    transition: var(--tran-05);
}
nav.close li a .link-name{
    opacity: 0;
    pointer-events: none;
}
.nav-links li a:hover i{
    color: var(--box3-color);
}
.nav-links li a:hover .link-name{
    color:var(--box3-color);
}
.menu-items .mode{
    display: flex;
    align-items: center;
    white-space: nowrap;
}
.menu-items .mode-toggle{
    position: absolute;
    right: 14px;
    height: 50px;
    min-width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.mode-toggle .switch{
    position: relative;
    display: inline-block;
    top: 8px;
    right:5px;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggel-color);
}
.switch::before{
    content: "";
    position: absolute;
    left: 3px;
    top: 21%;
    transform: translateY(-10%);
    height: 15px;
    width: 15px;
    background-color: var(--panel-color);
    border-radius: 50%;
    transition: var(--tran-03);
}
body.dark .switch::before{
    left: 20px;

}
.dashbord{
    position: relative;
    left: 270px;
    bottom: 10px;
    background-color: var(--panel-color);
    min-height: 100vh;
    width: calc(100% - 250px);
    padding: 10px 14px;
    transition: var(--tran-05);
}
nav.close ~ .dashbord {
    left: 73px;
    width: calc(100% - 73px);
}
.dashbord .top{
    position: fixed;
    top: 0;
    left: 280px;
    display: flex;
    width: calc(100% - 250px);
    justify-content:flex-start;
    align-items: center;
    gap: 100px;
    padding: 10px 14px;
    background-color: var(--panel-color);
    transition: var(--tran-05);
}
nav.close ~ .dashbord .top{
    left: 73px;
    width: calc(100% - 73px);
}
.dashbord .top .sidebar-toggle{
    font-size: 30px;
    color: var(--text-color);
    cursor: pointer;
}
.dashbord .top .search-box{
    position: relative;
    height: 45px;
    max-width: 600px;
    width: 100%;
    margin: 0 30px;
}
.top .search-box input{
    position: absolute;
    border: 1px solid var(--border-color);
    background-color: var(--panel-color);
    padding: 0 25px 0 30px;
    height: 80%;
    width: 30%;
    border-radius: 30px;
    color: var(--text-color);
    font-size: 13px;
    font-weight: 200;
    outline: none;
} 
.top .search-box i{
    position: absolute;
    left: 10px;
    font-size: 18px;
    z-index: 10;
    top: 20%;
    right: 10px;
    transition: translateY(-50%);
    color: var(--black-light-color);
}
.drop-down{
    margin-right: 100px;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #000;
}
.row-1{
    width: 95%;
    height: 600px;
    /* background-color: #0E4BF1; */
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    direction: rtl;
    margin-left: 17px;
    margin-top: 150px;
    
}
.box-right{
    width: 65%;
    height: 600px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    margin: 0 auto;
}
.info-top{
    width: 100%;
    height: 130px;
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    margin: 0 auto;
}
.open{
    width: 100%;
    height: 130px;
    background-color: #0E4BF1;
    border-radius: 7px;
}
.info-down{
    width: 100%;
    height: 470px;
    background-color: aqua;
    border-radius: 7px;
}
.box-left{
    width: 30%;
    height: 600px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    margin: 0 auto;
}
.item-top{
    width: 100%;
    height: 100%;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    margin:  0 auto;
}
.table-top{
    width: 100%;
    height:130px ;
    background-color:rgb(211, 208, 208);
}
img{
    width: 100%;
    height: 100%;
}
.table-down{
    width: 100%;
    height:170px ;
}
.item-down{
    width: 100%;
    height: 100%;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    background-color: #000;
}
.lod-top{
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    direction: ltr;
}
.mahdi-1{
    width: 100%;
    height: 100%;
}
.mahdi-2{
    width: 100%;
    height: 100%;
}
.mahdi-3{
    width: 100%;
    height: 100%;
}
.lod-down{
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    border-radius: 7px;
}
.pig-left{
    width: 35%;
    height: 100%;
    direction: ltr;
}
.pig-right{
    width: 65%;
    height: 100%;
    direction: ltr;
    display: flex;
    flex-direction: row;
}
.box-1{
    width: 40%;
    height: 30px;
    background-color: #556ee6;
    align-items: center;
    margin-top: 50px;
    border-radius: 4px;
    outline-color: #a0cf5f;
    cursor: pointer;
    border-radius: 7px;
}
.box-1:hover{
    background-color: #4DA3FF;
}